<head>
  <meta name="viewport" content="width=device-width">
  <%= stylesheet_link_tag "sessions" %>
</head>
<body>
  <%= form_for(:session, url: login_path) do |f| %>
      <div class="container">
          <%= f.label :username %>
          <%= f.text_field :username %>
          <br/>
          <%= f.label :lozinka %>
          <%= f.password_field :password %>

          <%= f.submit "Prijava" %>
          <span class="error-message">
              <%= flash[:message] %>
          </span>
      </div>
  <% end %>
</body>
