<head>
  <meta name="viewport" content="width=device-width">
  <%= stylesheet_link_tag "sessions" %>
</head>
<body>
  <%= form_for(:session, url: login_path) do |f| %>
      <div class="container">
          <%= f.label :ime %>
          <%= f.text_field :first_name %>
          <br/>
          <%= f.label :prezime %>
          <%= f.text_field :last_name %>
          <br/>
          <%= f.label :lozinka %>
          <%= f.password_field :password %>

          <%= f.submit "Prijava" %>
          <span class="error-message">
              <%= flash[:message] %>
          </span>
      </div>
  <% end %>
</body>