<head>
    <%= stylesheet_link_tag "changes" %>
    <%= stylesheet_link_tag "common" %>
</head>

<body>
    <ul class="MenuList">
        <li class="MenuListItem"><a href="/">Pocetna</a></li>
        <li class="MenuListItem"><a class="active" href="/changes">Izmjene za ucenike</a></li>
        <li class="MenuListItem"><a href="/professors">Izmjene za profesore</a></li>
        <li class="MenuListItem"><a href="/subscriptions">Pretplata</a></li>
        <li class="MenuListItem"><a href="/settings">Postavke</a></li>
    </ul>
    <%= button_to "Back", changes_path, method: :get %>
    <div align="center">
        <h1>Uredi izmjene za <%= @change.date.strftime('%d/%m/%Y') %></h1>
        <%= form_for(@change) do |f| %>
            <table>
                <tr>
                    <th></th>
                    <% for i in 0..8 %>
                        <th>
                            <%= f.time_field :starttime, multiple: true, value: Time.parse(@starttime[i]).strftime("%R") %>
                            <%= f.time_field :endtime, multiple: true, value: Time.parse(@endtime[i]).strftime("%R") %>
                        </th>
                    <% end %>
                </tr>
                <tr>
                    <th>Razredi</th>
                    <% @header.each do |x| %>
                        <th><%= x %></th>
                    <% end %>
                </tr>
                <% counter = 0 %>
                <% @classes.each do |x| %>
                    <tr>
                        <th><%= x %></th>
                        <% for i in 0..8 %>
                            <td>
                                <%= f.text_field :data, multiple: true, value: @data[counter * 9 + i].to_s, autocomplete: :off, list: 'subject-list' %>
                            </td>
                        <% end %>
                    </tr>
                    <% counter+= 1 %>
                <% end %>
            </table>

            <br/>

            <table id="table_data2">
                <tr>
                    <th>Sat</th>
                    <th>Razred</th>
                    <th>Predmet</th>
                    <th>Ucionica</th>
                    <th><input type="button" value="+" onclick="$('#table_data2 tr:last').after(x);" /></th>
                </tr>
                <% for i in 0...(@data2.count / 4) %>
                    <tr>
                        <td><%= f.text_field :data2, multiple: true, value: @data2[i * 4 + 0], onkeyup: "this.value=this.value.replace(/[^\\-\\d]+/,'')" %></td>
                        <td><%= f.text_field :data2, multiple: true, value: @data2[i * 4 + 1] %></td>
                        <td><%= f.text_field :data2, multiple: true, value: @data2[i * 4 + 2], autocomplete: :off, list: 'subject-list' %></td>
                        <td><%= f.text_field :data2, multiple: true, value: @data2[i * 4 + 3] %></td>
                        <td><input type="button" value="-" onclick="$(this).closest('tr').remove()" /></td>
                    </tr>
                <% end %>
            </table>

            <%= f.submit "Save changes" %>
        <% end %>
    </div>
    <datalist id="subject-list">
        <% $subjects.values.each do |subj| %>
            <option value="<%= subj %>" />
        <% end %>
    </datalist>
</body>
    <script>
        x = "<tr><td><input multiple=\"multiple\" type=\"text\" onkeyup=\"this.value=this.value.replace(/[^\\-\\d]+/,'')\" name=\"change[data2][]\" id=\"change_data2\"></td><td><input multiple=\"multiple\" type=\"text\" name=\"change[data2][]\" id=\"change_data2\"></td><td><input multiple=\"multiple\" autocomplete=\"off\" list=\"subject-list\" type=\"text\" name=\"change[data2][]\" id=\"change_data2\"></td><td><input multiple=\"multiple\" type=\"text\" name=\"change[data2][]\" id=\"change_data2\"></td><td><input type=\"button\" value=\"-\" onclick=\"$(this).closest('tr').remove()\"></td></tr>"
    </script>
