<head>
  <style>
    table {
        font-family: arial, sans-serif;
        border-collapse: collapse;
        width: 80%;
    }
    
    td, th {
        border: 1px solid #dddddd;
        text-align: center;
        padding: 5px;
    }
    
    input[type="text"] {
      font-size: 15px;
      width:50%;
      border: none;
      text-align: center;
    }
    
    input[type="submit"] {
      text-align: center;
    }
  </style>
</head>

<body>
    <%= button_to "Back", changes_path, method: :get %>
    <div align="center">
        <h1>Changes for <%= @change.date.strftime('%d/%m/%Y') %></h1>
        <table>
            <tr>
                <th>Razredi</th>
                <% @header.each do |x| %>
                    <th><%= x %></th>
                <% end %>
            </tr>
            <% counter = 0 %>
            <% @classes.each do |x| %>
                <tr>
                    <th><%= x %></th>
                    <% for i in 0..8 %>
                        <td>
                            <%= @data[counter * 9 + i] %>
                        </td>
                    <% end %>
                </tr>
                <% counter+= 1 %>
            <% end %>
        </table>
        <%= button_to "Edit", edit_change_path(@change), method: :get %>
        <%= button_to "Publish", send_changes_path, params: { header: @header.to_a, date: @change.date, shift: @change.shift, classes: @classes, data: @data }, method: :post, remote: true %>
    </div>
</body>
