<head>
    <%= stylesheet_link_tag "subscriptions" %>
    <%= stylesheet_link_tag "common" %>
</head>

<body>
    <ul class="MenuList">
        <li class="MenuListItem"><a href="/">Pocetna</a></li>
        <li class="MenuListItem"><a href="/changes">Izmjene</a></li>
        <li class="MenuListItem"><a class="active" href="/subscriptions">Pretplata</a></li>
        <li class="MenuListItem"><a href="/settings">Postavke</a></li>
    </ul>
    <div align="center">
        <%= form_with url: "/subscriptions", method: 'post'  do |f|  %>
            <p>
                <%= f.label :email %><br/>
                <%= f.text_field :email %>
            </p>
            <p>
                <%= f.label :class %><br/>
                <%= f.text_field :class %>
            </p>
            <p>
                <%= f.label :shift %><br/>
                <%= f.text_field :shift %>
            </p>
            <%= f.submit "Subscribe" %>
        <% end %>
    </div>
</body>
