<head>
    <%= stylesheet_link_tag "subscriptions" %>
    <%= stylesheet_link_tag "common" %>
</head>

<body>
    <ul class="MenuList">
        <li class="MenuListItem"><a href="/">Pocetna</a></li>
        <li class="MenuListItem"><a href="/changes">Izmjene za ucenike</a></li>
        <li class="MenuListItem"><a href="/professors">Izmjene za profesore</a></li>
        <li class="MenuListItem"><a class="active" href="/subscriptions">Pretplata</a></li>
        <li class="MenuListItem"><a href="/settings">Postavke</a></li>
    </ul>
    <div align="center">
        <h2>Za ucenike</h2>
        <%= form_with url: "/subscriptions", method: 'post'  do |f|  %>
            <%= f.hidden_field :type, value: 'student' %>
            <p>
                <%= f.label :email %><br/>
                <%= f.text_field :email %>
            </p>
            <p>
                <%= f.label :class %><br/>
                <%= f.text_field :class %>
            </p>
            <p>
                <%= f.label :shift %><br/>
                <%= f.text_field :shift %>
            </p>
            <%= f.submit "Subscribe" %>
        <% end %>
    </div>
    </br>
    <div align="center">
        <h2>Za profesore</h2>
        <%= form_with url: "/subscriptions", method: 'post'  do |f|  %>
            <%= f.hidden_field :type, value: 'professor' %>
            <p>
                <%= f.label :Ime_i_prezime %><br/>
                <%= f.text_field :name %>
            </p>
            <p>
                <%= f.label :email %><br/>
                <%= f.text_field :email; %>
            </p>
            <%= f.submit "Subscribe" %>
        <% end %>
    </div>
</body>
