<head>
  <style>
    * {
      font-family: Arial;
    }
    table {
        font-family: arial, sans-serif;
        border-collapse: collapse;
        width: 80%;
    }
    
    td, th {
        border: 1px solid #dddddd;
        text-align: center;
        padding: 5px;
    }
    
    input[type="text"] {
      font-size: 15px;
      width:50%;
      border: none;
      text-align: center;
    }
    
    input[type="button"] {
      text-align: center;
    }
  
  
  </style>
</head>

<body>
  <div align="center">
    <%= form_with scope: :changes, url: changes_input_create_change_path, local: true do |form| %>
    <p>
        <%= form.label :datum %><br>
        <%= form.date_field :date %>
    </p>
    <p>
      <%= form.label :smjena %><br>
      <%= form.radio_button :shift, 'A' %>A<br/>
      <%= form.radio_button :shift, 'B' %>B<br/>
    </p>
    <table>
      <tr>
      <% @header.each do |row| %>
          <th><%= row %></th>
      <% end %>
      </tr>
      <% counter = 0 %>
        <% @classes_a.each do |row| %>
          <tr>
            <th><%= row %></th>
            <% for i in 0..8 %>
              <td>
                  <%= form.text_field :changes_list, multiple:true %>
              </td>
            <% end %>
          </tr>
          <% counter+= 1%>
        <% end %>

    </table>
    <%= form.submit %>
    <% end %>
  </div>
</body>
  
