<!DOCTYPE html>

<head>
  <style>
    * {
      font-family: Arial;
    }
    table {
        font-family: arial, sans-serif;
        border-collapse: collapse;
        width: 80%;
    }
    
    td, th {
        border: 1px solid #dddddd;
        text-align: center;
        padding: 5px;
    }
    
    input[type="text"] {
      font-size: 15px;
      width:50%;
      border: none;
      text-align: center;
    }
    
    input[type="button"] {
      text-align: center;
    }
  </style>
</head>

<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
      <h1 align = "center">Izmjene za <%= @klass %>, <%= @date %></h1>
      <table align = "center">
          <tr>
              <% @classtime.each do |x| %>
                  <td><%= x %></td>
              <% end %>
          </tr>
          <tr>
              <% @header.each do |x| %>
                  <th><%= x %></th>
              <% end %>
          </tr>
          <tr>
              <% for i in 0..8 %>
                  <td>
			<%= @data[i] if !@data.nil? %>
                  </td>
              <% end %>
          </tr>
      </table>

	<br/>

	<table id="table_data2" align = "center">
	    <tr>
		<th>Sat</th>
		<th>Razred</th>
		<th>Predmet</th>
		<th>Ucionica</th>
	    </tr>
	    <% if !@data2.nil? %>
		    <% for i in 0...(@data2.count / 4) %>
			<tr>
			    <td><%= @data2[i * 4 + 0] %></td>
			    <td><%= @data2[i * 4 + 1] %></td>
			    <td><%= @data2[i * 4 + 2] %></td>
			    <td><%= @data2[i * 4 + 3] %></td>
			</tr>
			<% end %>
		<% end %>
	</table>
      <p align = "center">
        <small>Unsubscribe <a href="http://<%= @domain %>/subscriptions/delete">here</a></small>
      </p>
  </body>
</html>
